fastapi==0.109.2
uvicorn==0.27.1
gunicorn==21.2.0
torch==2.0.1
torchvision==0.15.2
numpy==1.23.5
opencv-python-headless==4.7.0.72
ultralytics==8.0.207
python-multipart==0.0.9
pillow==10.1.0
